.dropdown {
    position: relative;
    display: inline-block;
    margin: 3px;
}

.dropdown-placeholder {
    color: gray;
}

.dropdown-input {
    border: 2px solid black;
    border-radius: 3px;
    display: inline-block;
    width: 13em;
    padding: 3px;
    box-shadow: 2px 2px 2px gray;
}

.dropdown-drawer {
    position: absolute;
    background: transparent;
    height: 110px;
    width: 100%;
    z-index: 9999;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.dropdown-panel {
    border: 2px solid black;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: calc(13em - 2px);
    padding: 3px;
    position: absolute;
    top: 0px;
    z-index: 9999;
    background-color: white;
    box-shadow: 2px 2px 2px gray;
    max-height: 100px;
    overflow-y: auto;
    transform: translateY(0px);
    transition: transform 0.3s ease-in-out;
    pointer-events: auto;
}

.dropdown-panel.hide {
    transform: translateY(-110px);
    pointer-events: none;
}

.dropdown-item {
    padding: 3px;
}

.dropdown-item:hover {
    background-color: lightgray;
}

.dropdown-arrow {
    color: gray;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 4px;
    right: 5px;
}